body, html { direction: rtl; font-size: 100%; margin: 0px; padding: 0px; line-height: 1.2341; color: #333; font-family; Arial, Helvetica, Sans-serif; }

.wrapper { width: 100%; clear: both; }
.inner { width: 750px; margin: 0px auto;  }
.header { height: 50px; } 
.footer { height: 50px; }

form label { display: block; }
form .form_element_container { margin: 10px; }
#text { height: 200px; width: 500px; }
#text_counter.closeTo { color: red; font-weight: bold; }
.header.inner { position: relative; }
.header .logo { position: absolute; top: 0px; left: 0px; }
.header .top_menu { position: absolute; top: 10px; right: 0px; }
.top_menu { padding: 0px; margin: 0px; list-style: none; }
.top_menu li { width: 100px; float: right; text-align: center; font-weight: bold; }
